<div class="container pt-4" *ngIf="actor">
  <div class="d-flex-block justify-content-center" style="width:fit-content;">
    <div class="d-inline-block mb-3 mr-4">
      <img
        style="width: 284px; height: 300px; border: 3px solid #212121"
        src="{{getImage()}}"
        alt="profile image"
      />
    </div>
    <div class="d-inline-block align-top">
      <h2 class="mb-4">{{ actor.name }}</h2>
      <h4 class="mb-4 text-muted">Featured in:</h4>
      <div class="d-block my-2 interact">
       <p (click)="navigateToMovie(movie.movieId)" *ngFor="let movie of actor.movieList">{{movie.title}}</p>
      </div>
    </div>
  </div>
</div>
