<div class="container main p-3" *ngIf="movie">
  <h1 class="d-block my-3">Edit</h1>
  <h2 class="d-inline-block my-3 mr-2">{{ movie.title }}</h2>
  <small class="d-inline-block" style="color: #14ffec">{{
    movie.ageRating
  }}</small>

  <p class="mt-2" style="font-size: 1.2rem">{{ movie.storyline }}</p>
  <small class="d-inline-block mr-2 text-muted"
    >Duration: {{ movie.duration }} minutes</small
  >
  <small class="d-inline-block text-muted"
    >Release date: {{ movie.releaseDate | date }}</small
  >
  <form [formGroup]="myForm">
    <!-- Genres -->
    <div class="mt-4">
      <div>
        <label for="Genre">Genres</label>
        <div class="d-inline">
          <button class="btn teal" (click)="addGenre()">
            Add <i class="fa fa-plus"></i>
          </button>
        </div>
        <!-- Existing genres -->
        <div
          class="d-flex justify-content-start"
          *ngFor="let genre of movie.genres; let i = index"
        >
          <div class="md-form form-sm d-inline mt-3">
            <input
              mdbInput
              type="text"
              [(value)]="genre.name"
              name="genreName"
              id="genreName"
              style="color: white"
              class="form-control form-control-sm"
            />
          </div>
          <div class="d-inline mt-3 ml-2">
            <button
              class="btn btn-danger"
              (click)="deleteGenre(movie.genres, i)"
            >
              Remove
            </button>
          </div>
        </div>
        <!-- New genres -->
        <div formArrayName="genres">
          <div
            class="d-flex justify-content-start"
            *ngFor="let genre of genreForms.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="md-form form-sm d-inline mt-3">
              <input
                mdbInput
                [typeahead]="genreList.list"
                type="text"
                formControlName="name"
                id="name"
                style="color: white"
                class="form-control form-control-sm"
              />
              <label for="name" class="">Genre</label>
              <span
                class="d-block text-danger"
                *ngIf="genre.get('name').invalid && genre.get('name').touched"
                >Name of genre is required</span
              >
            </div>
            <div class="d-inline mt-3 ml-2">
              <button
                class="btn btn-danger"
                (click)="deleteNewItem(genreForms,i)"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Directors -->
    <div class="mt-4">
      <div>
        <label for="Director">Directors</label>
        <div class="d-inline">
          <button class="btn teal" (click)="addDirector()">
            Add <i class="fa fa-plus"></i>
          </button>
        </div>
        <!-- Existing directors -->
        <div
          class="d-flex justify-content-start"
          *ngFor="let director of movie.directors; let i = index"
        >
          <div class="md-form form-sm d-inline mt-3">
            <input
              mdbInput
              type="text"
              [(value)]="director.name"
              name="directorName"
              id="directorName"
              style="color: white"
              class="form-control form-control-sm"
            />
          </div>
          <div class="d-inline mt-3 ml-2">
            <button
              class="btn btn-danger"
              (click)="deleteDirector(movie.directors, i)"
            >
              Remove
            </button>
          </div>
        </div>
        <!-- New directors -->
        <div formArrayName="directors">
          <div
            class="d-flex justify-content-start"
            *ngFor="let director of directorForms.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="md-form form-sm d-inline mt-3">
              <input
                mdbInput
                type="text"
                formControlName="name"
                id="name"
                style="color: white"
                class="form-control form-control-sm"
              />
            </div>
            <div class="d-inline mt-3 ml-2">
              <button class="btn btn-danger" (click)="deleteNewItem(directorForms,i)">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Writers -->
    <div class="mt-4">
      <div>
        <label for="writer">Writers</label>
        <div class="d-inline">
          <button class="btn teal" (click)="addWriter()">
            Add <i class="fa fa-plus"></i>
          </button>
        </div>
        <!-- Existing writers -->
        <div
          class="d-flex justify-content-start"
          *ngFor="let writer of movie.writers; let i = index"
        >
          <div class="md-form form-sm d-inline mt-3">
            <input
              mdbInput
              type="text"
              [(value)]="writer.name"
              name="writerName"
              id="writerName"
              style="color: white"
              class="form-control form-control-sm"
            />
          </div>
          <div class="d-inline mt-3 ml-2">
            <button
              class="btn btn-danger"
              (click)="deleteWriter(movie.writers, i)"
            >
              Remove
            </button>
          </div>
        </div>
        <!-- New writers -->
        <div formArrayName="writers">
          <div
            class="d-flex justify-content-start"
            *ngFor="let writer of writerForms.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="md-form form-sm d-inline mt-3">
              <input
                mdbInput
                type="text"
                formControlName="name"
                id="name"
                style="color: white"
                class="form-control form-control-sm"
              />
              <label for="name" class="">Name</label>
              <span
                class="d-block text-danger"
                *ngIf="writer.get('name').invalid && writer.get('name').touched"
                >Name is required</span
              >
            </div>
            <div class="d-inline mt-3 ml-2">
              <button class="btn btn-danger" (click)="deleteNewItem(writerForms,i)">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Actors -->
    <div class="mt-4">
      <div>
        <label for="actor">Actors</label>
        <div class="d-inline">
          <button class="btn teal" (click)="addActor()">
            Add <i class="fa fa-plus"></i>
          </button>
        </div>
        <!-- Existing actors -->
        <div
          class="d-flex justify-content-start"
          *ngFor="let actor of movie.actors; let i = index"
        >
          <div class="md-form form-sm d-inline mt-3">
            <input
              mdbInput
              type="text"
              [(value)]="actor.name"
              name="actorName"
              id="actorName"
              style="color: white"
              class="form-control form-control-sm"
            />
          </div>
          <div class="d-inline mt-3 ml-2">
            <button
              class="btn btn-danger"
              (click)="deleteActor(movie.actors, i)"
            >
              Remove
            </button>
          </div>
        </div>
        <!-- New actors -->
        <div class="d-inline-block" formArrayName="actors">
          <div
            class="d-flex justify-content-start"
            *ngFor="let actor of actorForms.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="md-form form-sm d-inline mt-3">
              <input
                mdbInput
                type="text"
                formControlName="name"
                id="name"
                style="color: white"
                class="form-control form-control-sm"
              />
              <label for="name" class="">Name</label>
              <span
                class="d-block text-danger"
                *ngIf="actor.get('name').invalid && actor.get('name').touched"
                >Name is required</span
              >
            </div>
            <div class="d-inline mt-3 ml-2">
              <button class="btn btn-danger" (click)="deleteNewItem(actorForms,i)">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between mt-5 pr-2">
      <button class="btn btn-outline-danger btn-lg" routerLink="/movies">
        Back
      </button>
      <button
        type="submit"
        class="btn btn-outline btn-lg"
        style="background-color: #0d7377; color: white"
        [disabled]="myForm.invalid"
        (click)="updateMovie()"
        routerLink="/"
      >
        Submit
      </button>
    </div>
  </form>
</div>
