<div
  class="container d-flex flex-column justify-content-center main pt-5 px-5"
  style="height: 600px" [@entryAnim]
>
  <h1
    class="d-flex-block justify-content-center"
    style="margin: 0 auto; font-size: 3.5rem; margin-bottom: 0.6rem"
  >
    Welcome to <span class="d-inline-block title"> TimeFlix v2</span>
  </h1>
  <span class="d-flex justify-content-center" style="font-size: 1.5rem"
    >Best movie library on the web</span
  >

  <div class="d-flex justify-content-center my-4">
    <button class="btn btn-outline-secondary btn-lg mr-3" disabled>
      Register
    </button>
    <button class="btn btn-outline-primary btn-lg ml-3" routerLink="movies">
      Take a tour
    </button>
  </div>
</div>
