<div class="container d-flex flex-column main p-3 justify-content-center">
  <!-- ng-If checks if movies are loaded before rendering template, otherwise we get a console error -->
  <div class="p-3" *ngIf="movies">
    <div class="d-flex justify-content-between mb-4">
      <h2 class="d-inline-block" style="font-size: 2.5rem;">Movies</h2>
    <button
      class="d-inline btn mt-3 teal"
      style="width: 110px"
      routerLink="create"
    >
      Add <i class="fa fa-plus"></i>
    </button>
    </div>
    
    <!-- Search -->
    <div class="d-flex justify-content-between">
      <input
        #search
        class="d-inline form-control"
        type="text"
        (keyup.enter)="onSearch()"
        placeholder="Search"
        style="width: 50%"
      />
      <div class="d-inline mr-1" style="padding: 0">
        <button
          class="d-inline btn btn-outline btn-sm search-btn"
          (click)="onSearch()"
          style="width: 40px"
        >
          <i class="fa fa-search"></i>
        </button>
        <button
          class="d-inline btn btn-outline-secondary btn-sm ml-3"
          (click)="onReset()"
          style="width: 40px"
        >
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
    <small class="d-block ml-1 mt-2"
      >Showing {{ movies.length }} out of {{ itemCount }} results</small
    >
  </div>

  <!-- Passing movie object to child movie-card component -->
  <div class="container-flex" *ngFor="let movie of movies">
    <app-movie-card [movie]="movie"></app-movie-card>
  </div>

  <!-- pagination -->
  <div class="d-flex justify-content-center pt-3">
    <pagination
      *ngIf="this.itemCount > this.userParam.offset"
      (pageChanged)="pageChanged($event)"
      [itemsPerPage]="userParam.offset"
      [boundaryLinks]="true"
      [totalItems]="this.itemCount"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
