.main {
    background-color: #323232;
    color: white;
    padding: 0;
}

button {
    border: 1px solid #14ffec;
    color: #FFFFFF;
    max-height: 2.5rem;

}
button:hover{
    background-color: #14ffec;
    color: #212121;
}