.main {
    height: auto;
    background-color: #323232;
    color: white;
}


.interact {
    max-width: 20rem;
}
.interact:hover {
    cursor: pointer;
    color:  #14ffec;
}

li {
    font-size: 1.5rem;
}