<div class="container" *ngIf="movie">
  <div class="m-3">
    <h3 class="d-inline-block mr-2">{{ movie.title }}</h3>
    <span class="d-inline-block">({{ movie.releaseDate | date }})</span>
    <div class="d-block">
      <h4 class="d-block">Genre:</h4>
      <ul class="d-inline list-group list-group-horizontal-md">
        <li class="list-group-item mr-2 ml-1 d-inline-block" style="border: 0; padding: 0">
          Action
        </li>
        <li class="list-group-item mr-2 ml-1 d-inline-block" style="border: 0; padding: 0">
          Drama
        </li>
        <li class="list-group-item d-inline-block mr-2 ml-1" style="border: 0; padding: 0">Fantasy</li>
        
      </ul>
    </div>

    <!-- Director -->
    <div class="d-block">
      <h4 class="d-block">Directors:</h4>
      <ul
        class="d-inline list-group list-group-horizontal-md ml-1"
        *ngFor="let director of movie.directors"
      >
        <li class="list-group-item mr-3 d-inline" style="border: 0; padding: 0">
          {{director.name}}
        </li>
      </ul>
    </div>

    <!-- Writers -->
    <div class="d-block">
        <h4 class="d-block">Writers:</h4>
        <ul
          class="d-inline list-group list-group-horizontal-md"
          *ngFor="let writer of movie.writers"
        >
          <li class="list-group-item mr-2 ml-1 d-inline" style="border: 0; padding: 0">
            {{writer.name}}
          </li>
        </ul>
      </div>

      <!-- Actors -->
      <div class="d-block">
        <h4 class="d-block">Actors:</h4>
        <ul
          class="d-inline list-group list-group-horizontal-md"
          *ngFor="let actor of movie.actors"
        >
          <li class="list-group-item mr-2 ml-1 d-inline" style="border: 0; padding: 0">
            {{actor.name}}
          </li>
        </ul>
      </div>
  </div>
</div>
