<div class="card main" *ngIf="writer">
  <img
    class="card-img-top"
    style="width: 254px; height: 254px"
    src="{{ writer.imageUrl }}"
    alt="writer image"
  />
  <div class="card-body">
    <h5
      class="card-title d-flex justify-content-center align-content-center"
      style="color: white; height: 2.5rem"
    >
      {{ writer.name }}
    </h5>
    <div class="d-flex justify-content-center align-content-center">
      <button class="btn btn-primary teal" routerLink="{{ writer.id }}">
        View <i class="fa fa-eye"></i>
      </button>
    </div>
  </div>
</div>
