<div class="container-flex navigation">
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-3 navbar-expand-lg navbar-dark" [containerInside]="false">
    <!-- Navbar brand -->
    <mdb-navbar-brand
      ><a class="navbar-brand text-white" href="#" routerLink="/"
        >TimeFlix</a
      ></mdb-navbar-brand
    >

    <!-- Collapsible content -->
    <links>
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" style="color: #fff;" mdbWavesEffect routerLink="movies"
            ><i class="fa fa-film mr-1"></i> Movies<span class="sr-only"
              >(current)</span
            ></a
          >
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a
            dropdownToggle
            mdbWavesEffect
            type="button"
            class="nav-link dropdown-toggle waves-light"
            mdbWavesEffect
          >
            <i class="fa fa-user mr-1"></i>
            Crew<span class="caret"></span
          ></a>
          <div
            *dropdownMenu
            class="dropdown-menu dropdown-menu-right dropdown dropdown-primary"
            role="menu"
          >
            <a class="dropdown-item waves-light" mdbWavesEffect href="#"
              >Actors</a
            >
            <a class="dropdown-item waves-light" mdbWavesEffect href="#"
              >Writers</a
            >
            <a class="dropdown-item waves-light" mdbWavesEffect href="#"
              >Directors</a
            >
          </div>
        </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
  </mdb-navbar>

  <!--/.Navbar-->
</div>
