<div class="d-flex p-3 justify-content-between main">
  <div class="d-inline">
    <div class="d-block">
      <h5 class="d-inline-block mb-1 mr-3 title">{{ movie.title }}</h5>

      <p class="d-inline-block text-muted">({{ movie.releaseDate | date }})</p>
    </div>
    <p class="d-inline-block mr-2" *ngFor="let genre of movie.genres">{{genre.name}}</p>
  </div>
  <div class="d-inline">
    <button
      routerLink="{{ movie.movieId }}"
      class="d-inline btn mt-4"
      mdbWavesEffect
    >
      View <i class="fa fa-eye"></i>
    </button>
  </div>
</div>
